# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnpm/

# Optional: compiled JavaScript files (if you want to exclude them)
build/

# Environment variables
# client/.env
# server/.env
.env
.env.local


# Temporary files
*.tmp

# OS-specific files
.DS_Store

# Editor configuration files
.idea
# .vscode

# Next.js specific
.next/
out/

# Optional: Lock files (if you don't want to commit them)
# pnpm doesn't use package-lock.json or yarn.lock

bloodhero-admin.json